@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: lightcyan;
    font-family: 'Pacifico', cursive;
}

.headline{
    width: 100vw;
    height: auto;
    padding: 40px 10%;
}

.headline img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.slider{
    width: 100vw;
    height: auto;
    overflow-y: scroll;
    padding: 0 10%;
    
}

.cardContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
    cursor: pointer;
    
}

.menu{
    width: 100vw;
    height: auto;
    overflow-x: scroll;
    
}

.menuItemContainer{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scrollArea{
    width: 150vw;
    height: 8vh;
    background-color: lightsteelblue;
    padding: 0 10%;
}

.footer{
    width: 100vw;
    height: 8vh;
    background-color: black;
    color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
}